/*--------------------------------------------------------- common css */

*{
    margin: 0 ;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: auto;
}
/* ------------------------------------------------------------------------ */

/*--------------------------------------------------------- header starts here */
.header{
    background-image: url('images/banner/banner3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 808px;
    margin-bottom: 131px;
}

.header-captions{
    /* background-color: green; */
    width: 600px;
    height: 228px;
    left: 845px;
    top: 216px;
    margin-left: 845px;
    padding-top: 216px;
    margin-right: 230px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 76px;
    text-align: right;
}
.header-paragraph{
    margin-top: 24px;
    margin-Left: 967px;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}
.header-btn{
    Width: 109px;
    Height: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    border-radius: 3px;
    color: #005FAC;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1350px;
    margin-top: 43px;
}
/* ------------------------------------------------main section starts here */
.my-bio-section{
    display: flex;
    width: 1072px;
    height: 723.3px;
    margin-left:273px ;
    margin-right: 255px;
    
}
.my-bio-header{
    padding-top: 250px;
    padding-left: 87px;
}
.my-bio-img{
    Width:569px;
    Height:723.3px;
}
.my-bio-captions{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.my-bio-para{
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.fa-solid{
    color: #16D887;
    font-size: small;
}
/*------------------------------------------------------ my plans section */
.my-plans{
   text-align: center;
   margin-top: 80px;
   margin-top: 80px;
   margin-bottom: 30px;
   
}
.my-plans-header{
    font-weight: 700;
    font-size: 40px;
}
.my-plans-image-sec{
    display: flex;
    justify-content: space-evenly;
    margin-left: 172px;
    margin-right: 229px;
    width: 1141px;
    height: 202.96px;
    padding-top: 25px;
}
/* banner section starts here */

.banner-section{
    background-image: url(images/gradient1.png), url(images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    margin-left: 174px;
    }
    .banner-text{
        font-weight: 700;
        font-size: 40px;
        color: #FFFFFF;
    }
    .banner-btn{
        Width: 109px;
        Height: 40px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px 0px #00000040;
        border: none;
        border-radius: 3px;
        color: #005FAC;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
    }
   
    .banner-items{
        margin-left: 64px;
        padding-top: 59px;

    }
    /* ---------------------------------main and banner ends here------------------- */

/* ----------------------------------------Footer starts here---------------------- */

footer{
    width: 1600px;
    height: 577px;
    left: 0px;
    margin-top: 131px;
    background-color: #151414;
}
.footer-flex-box{
    display: flex;
    justify-content: space-evenly;
}
.footer-header{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}
.footer-para{
    font-size: 16px;
    color: #FFFFFF;
}
.footer-icons{
    margin-top: 32px;
   
}
.footer-future-sec{
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2781.96px;
    padding-top: 128px;

}
.footer-btn{
    width: 164px;
    height: 60px;
    border-radius: 5px;
    background-color: #005FAC;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
.subscribe-sec{
    padding-top: 128px;
}
input{
    padding: 15px;
    width: 300px;
    background-color:#151414;
    border: 0.5px solid white;
    border-radius: 8px;
    color: #F8F8F8;
    font-size: 20px;
    font-weight: 600;
    
}


/*============================================ footer ends here ===================================*/

   
